@media(max-width:1300px) {
  .pt {
    padding-top: 350px;
  }

  .to-main {
    &__outer {
      margin-bottom: 60px;
    }
  }

  .header {
    &__acc {
      &-img-outer {
        width: 70px;
        height: 70px;
      }

      &-slider {
        padding: 20px 20px 12px;
      }
    }

    &__logo {
      width: 168px;
    }
  }

  .header__logged {
    position: relative;

    &.active {
      &:before {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }

    &:before {
      content: '';
      position: absolute;
      right: 80px;
      top: calc(100% + 4px);
      height: 140px;
      width: 320px;
      background: #141B2D;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: .3s linear;
    }

    &-sum {
      right: 270px;
      top: calc(100% + 30px);
      gap: 45px;
      display: flex;
      flex-direction: column;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: .3s linear;

      &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }

      &-one {
        order: 1;
        font-weight: 400;
        color: var(--bali-hai);

        &:before {
          top: 50%;
          height: 43.5px;
        }
      }

      &-two {
        &:before {
          height: 50px;
          top: calc(50% + 1px);
        }
      }

      &-one,
      &-two {
        position: relative;
        z-index: 1;

        &:before {
          position: absolute;
          display: flex;
          min-width: 320px;
          left: -37px;
          z-index: -1;

          transform: translateY(-50%);
          content: '';
          background: #070F23;
        }
      }
    }

    &-take-out {
      top: calc(100% + 18px);
      position: absolute;
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
      right: 85px;
      padding-right: 37px;
      padding-left: 51px;

      z-index: 1;

      & svg {
        display: none;
      }

      & .text {
        display: block;
      }

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: .3s linear;

      &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }

    &-top-up {
      padding-left: 51px;
      padding-right: 38px;
      right: 80px;
      top: calc(100% + 89px);
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: .3s linear;

      &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }

    &-balance {
      display: flex;
      align-items: center;
      padding: 11px 13px 11px 20px;
      color: #2057ec;
      background: transparent;
      margin-right: 10px;
      transition: .3s linear;

      & img {
        transition: .3s linear;
      }

      &.active {
        background: #141B2D;

        & img {
          transform: rotate(180deg);
        }
      }
    }
  }

  .sup-bg {
    position: relative;
    z-index: 1;

    &:before {
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--black-pearl);
      opacity: .85;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
    }
  }

  .hero {
    margin-bottom: 30px;
    position: relative;

    &:before {
      width: 100%;
      height: 100%;
      background: var(--black-pearl);
      opacity: .85;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
    }

    &__mid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__distr {
      clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
      min-width: 425px;
      max-width: 100%;
      height: 223px;
      grid-column: 1/2;
    }

    &__bonus {
      position: relative;
      left: unset;
      top: unset;
      transform: unset;
      clip-path: unset;
      background-image: url('../img/banner-bg-2-t.webp');
      background-position: center;
      margin-bottom: 20px;
      max-width: 100%;
      padding: 25px;
      grid-column: 1/3;
      order: -1;
    }

    &__review {
      height: 223px;
      position: absolute;
      max-width: 113%;
      width: 113%;
      right: 0;
      bottom: 0;
      clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
      grid-column: 2/3;
    }

    &__bottom {
      padding-left: 0;
      padding-right: 0;
      padding-top: 34px;

      &-img-info {
        gap: 0;
      }

      &-img-outer {
        max-width: 311px;
        max-height: 167px;

        & img {
          width: 311px;
          max-height: 167px;
        }

        &:before {
          width: 150px;
          height: 150px;
          top: -7px;
          left: 27px;
        }
      }

      &-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 7px 14px;
        max-width: 302px;
        width: 100%;
      }

      &-title {
        margin-bottom: 0;
      }

      &-time {
        position: relative;
        right: unset;
        top: unset;
        max-width: max-content;
        transform: unset;
        padding: 0;

        & .num {
          background: linear-gradient(92.52deg, #F9734F 1.11%, #FB4057 104.36%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }

  .ind-acc,
  .cases {
    &__card {
      max-width: 286px;

      &-outer {
        max-width: 868px;
        margin: 0 auto;
        gap: 34px 5px;
      }
    }

    &__link {
      padding: 12px 25px 12px 34px;
    }
  }

  .acc-info {
    &__edit {
      width: 24px;
      height: 24px;
    }

    &__mail {
      font-size: 20px;
    }

    &__actions {
      flex-direction: column;
      align-items: flex-end;
      gap: 22px;
    }

    &__btn {
      &-outer {
        height: 45px;

        &:nth-child(2) {
          margin-right: 21px;

        }

        &:last-child {
          order: -1;
        }
      }
    }

    &__story {
      bottom: calc(100% + 80px);
    }
  }

  .inventory,
  .my-acc {
    &__card-outer {
      max-width: 850px;
      margin: 0 auto;
    }
  }

  .tank-acc {
    &__img-outer {
      max-width: 440px;

      &:before {
        width: 220.69px;
        height: 220.69px;
      }
    }

    &__bottom {
      flex-direction: column;
      gap: 54px;

      &:before {
        display: none;
      }
    }

    &__descr {
      max-width: unset;

      &-outer {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
      }

      &-inner {

        &:nth-child(1),
        &:nth-child(2) {
          padding-right: 26px;
          border-right: 1px solid var(--trout);
        }

        &:nth-child(4) {
          max-width: 420px;
        }
      }
    }
  }

  .acc-thr .tank-acc {
    &__descr {
      max-width: 902px;

      &-inner {
        &:nth-child(5) {
          padding-right: 0;
          border-right: 0;
        }
      }
    }
  }

  .tank-char {
    &__card {
      max-width: 285px;

      &-outer {
        max-width: 875px;
        margin: 0 auto;
      }
    }
  }

  .sup-banner {
    &__inner {
      padding: 28px 40px;
    }
  }

  .tech-sup {
    &__accordion-chat {
      flex-direction: column;
    }

    &__accordion-outer,
    &__chat-outer {
      max-width: 100%;
    }

    &__accordion {
      &-content {
        max-width: 820px;
        padding-right: 40px;
      }
    }
  }

  .footer {
    &__logo {
      width: 168px;
    }
  }
}

@media(max-width:900px) {
  .pt {
    padding-top: 280px;
  }

  .header {
    &__acc {
      &-img-outer {
        width: 55px;
        height: 55px;
      }

      &-name {
        font-size: 12px;
      }
    }

    &__inner {
      padding: 15px 0;
    }

    &__logo {
      width: 130px;
    }

    &__menu {
      gap: 15px;
    }
  }

  .hero {

    &__bottom {
      &-img-outer {
        &:before {
          width: 100px;
          height: 100px;
          top: 10px;
        }
      }

      &-link {
        margin-left: 15px;
      }
    }
  }

  .ind-acc,
  .cases {
    &__card {
      max-width: 360px;

      &-outer {
        max-width: 725px;
        margin: 0 auto;
        gap: 34px 5px;
      }
    }

    &__sale {
      padding: 3px 21px 3px 13px;
      max-width: 70px;
    }
  }

  .acc-info {
    &__mail {
      font-size: 16px;
    }

    &__btn {
      width: 160px;
    }

    &__sum {
      width: 140px;
    }
  }

  .inventory,
  .my-acc {
    &__card-outer {
      max-width: 635px;
    }
  }

  .tank-acc {
    &__info {
      transform: translateY(-15px);
    }

    &__title-outer {
      margin-bottom: 15px;
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;

      &-descr {
        width: 20px;
        height: 20px;

        & svg {
          width: inherit;
          height: inherit;
        }
      }
    }

    &__btn-portion {
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 12px;
    }

    &__btn,
    &__portion-outer {
      max-width: 290px;
    }

    &__portion {
      width: 93px;
    }

    &__img-outer {
      max-width: 390px;
    }

    &__descr {
      &-outer {
        max-width: 755px;
      }

      &-inner {
        &:nth-child(2) {
          border-right: 0;
          padding-right: 0;
        }
      }
    }
  }

  .acc-thr .tank-acc {
    &__descr {
      max-width: 750px;

      &-inner {
        &:nth-child(5) {
          padding-right: 26px;
          border-right: 1px solid var(--trout);
        }
      }
    }
  }

  .tank-char {
    &__card {
      max-width: 312px;

      &-outer {
        max-width: 644px;
      }
    }
  }

  .sup-banner {
    &__inner {
      padding: 27px 15px;
    }

    &__title {
      font-size: 20px;
    }
  }

  .footer {
    &__logo {
      width: 130px;
    }

    &__menu {
      gap: 15px;
    }

    &__tg-copyright {
      gap: 10px;
    }
  }
}

@media(max-width:765px) {
  .pt {
    padding-top: 240px;
  }

  .to-main {
    &__outer {
      margin-bottom: 20px;
    }
  }

  .header {
    &__acc {
      &-slider {
        padding-right: 0;
        padding-left: 0px;
        padding-bottom: 9px;
        padding-top: 15px;
        margin-left: 15px;
      }
    }

    &__inner {
      padding: 17px 0;
    }

    &__logo {
      width: 120px;
    }

    &__menu {
      &-outer {
        position: fixed;
        left: 0;
        top: 160px;
        height: 100%;
        width: 100%;
        z-index: 3;
        background: var(--black-pearl);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: .3s linear;

        &.active {
          opacity: 1;
          pointer-events: all;
          visibility: visible;
        }
      }

      padding-top: 65px;
      padding-left: 15px;
      gap: 25px;
      align-items: flex-start;

      flex-direction: column;

    }

    &__sign {
      position: fixed;
      left: 0;
      top: 190px;
      z-index: 4;
      padding-left: 15px;
      top: calc(100% - 64px);
      height: max-content;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: .3s linear;

      &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }

    &__social-burger {
      display: flex;
      gap: 28px;
    }

    &__social {
      display: flex;
      gap: 15px;

      &-link {
        & svg {
          fill: #1C4FD6;
        }
      }
    }
  }

  .header__logged {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: .3s linear;
    position: fixed;
    top: calc(100% - 100px - 21px);
    z-index: 10;
    width: 100%;
    max-width: 290px;
    flex-wrap: wrap;
    gap: 23px;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      display: none;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    &-photo-exit {
      order: -1;
      margin-left: 0;
    }

    &-balance {
      display: none;
    }

    &-link-outer {
      width: 100%;
    }

    &-take-out {
      position: relative;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: unset;
      right: 0;
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
      margin-right: -7px;
      transform: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      padding: 3px 5px;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;

      & svg {
        display: block;
      }

      & .text {
        display: none;
      }
    }

    &-top-up {
      clip-path: polygon(6% 0, 100% 0, 94% 100%, 0% 100%);
      opacity: 1;
      width: 100%;
      max-width: 100%;
      visibility: visible;
      pointer-events: all;
      position: relative;
      left: unset;
      right: unset;
      transform: unset;
      padding: 13px 35px;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
    }

    &-sum {
      opacity: 1;
      margin-right: 0;
      visibility: visible;
      pointer-events: all;
      gap: 14px;
      margin-left: auto;
      position: relative;
      flex-direction: row;
      left: unset;
      right: unset;
      transform: unset;

      &-one,
      &-two {
        &:before {
          display: none;
        }
      }

      &-one {
        color: #fff;
        font-weight: 600;
      }

      &-two {
        order: 1;
      }
    }
  }

  .sup-bg {
    &:before {
      opacity: .5;
    }
  }

  .hero {
    &:before {
      opacity: .5;
    }

    &__social {
      display: none;
    }

    &__count-list {
      justify-content: center;
      margin: 0 auto;

      &-item {
        &:first-child {
          &:before {
            display: none;
          }
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    &__mid {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__bonus {
      margin-bottom: 0;
    }

    &__distr {
      clip-path: unset;
      min-width: unset;
    }

    &__review {
      position: relative;
      top: unset;
      right: unset;
      clip-path: unset;
      max-width: 100%;
      width: 100%;
      align-items: flex-start;
      text-align: left;
      padding-left: 35px;
    }

    &__bottom {
      flex-direction: column;

      &:before {
        width: 400px;
        height: 301px;
        left: 50%;
        top: 83px;
        background: linear-gradient(0deg, #070F23 0%, rgba(7, 15, 35, 0) 115.35%);
        transform: translate(-50%, 0%);
      }

      &-img-info {
        flex-direction: column;
      }

      &-img-outer {
        margin-bottom: 14px;

        &:before {
          width: 155px;
          height: 155px;
        }
      }

      &-info {
        flex-direction: column;
      }

      &-title {
        margin-bottom: 5px;
      }

      &-subtitle {
        padding-right: 14px;

        &:after {
          height: 100%;
          width: 1px;
          content: "";
          background: var(--blue-grad);
          transform: translateY(-50%) rotate(15deg);
          position: absolute;
          top: 50%;
          right: 0;
        }
      }

      &-time {
        order: 1;
        margin-bottom: 25px;
      }

      &-link {
        margin-left: 0;
      }
    }
  }

  .tab {
    &__content {
      gap: 38px;
    }
  }

  .ind-acc,
  .cases {
    &__card {
      max-width: 262px;

      &-outer {
        max-width: 529px;
        margin: 0 auto;
        gap: 34px 5px;
      }

      &-title {
        padding-left: 15px;
      }
    }

    &__price-link {
      padding-left: 10px;
    }

    &__price {
      font-size: 15px;
      gap: 4px;
    }

    &__link {
      padding: 13px 35px 13px 30px;
    }

    &__more {
      display: flex;
    }
  }

  .random-acc {
    &__title {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .acc-info {
    padding: 20px 0;

    &__inner {
      padding: 0;
    }

    &__photo-info {
      gap: 10px;
      margin-bottom: 30px;
    }

    &__photo {
      &-outer {
        height: 50px;
        width: 50px;
        padding: 1px;

        & img {
          width: 46px;
          height: 46px;
        }
      }
    }

    &__log-method {
      width: 20px;
      height: 20px;

      & img {
        width: inherit;
        height: inherit;
      }
    }

    &__name {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 2px;
    }

    &__mail {
      font-size: 14px;
      line-height: 21px;
    }

    &__edit {
      width: 19px;
      height: 19px;
    }

    &__btn {
      width: 140px;
    }

    &__story {
      bottom: calc(100% + 40px);
    }
  }

  .inventory,
  .my-acc {
    &__card-outer {
      max-width: 430px;
    }
  }

  .tank-acc {
    &__inner {
      padding-top: 30px;
    }

    &__top {
      flex-direction: column-reverse;
    }

    &__portion-outer,
    &__btn {
      max-width: 400px;
    }

    &__portion {
      width: 130px;
    }

    &__img-outer {
      transform: unset;
    }
  }

  .acc-two .tank-acc {
    &__descr {
      &-outer {
        gap: 10px;
        flex-direction: column;
      }

      &-inner {
        &:not(:last-child) {
          padding-right: 0;
          border-right: unset;
        }
      }
    }
  }

  .acc-thr .tank-acc {
    &__descr {
      &-outer {
        gap: 10px;
        flex-direction: column;
      }

      &-inner {
        &:not(:last-child) {
          padding-right: 0;
          border-right: unset;
        }
      }
    }
  }

  .tank-char {
    &__card {
      max-width: 250px;

      &-outer {
        gap: 5px;
        max-width: 510px;
      }
    }
  }

  .sup-banner {
    &__inner {
      flex-direction: column;
      align-items: center;
      width: calc(100% + 30px);
      left: -15px;
      padding: 20px 15px;
      background-size: auto;
      background-position: -160px center;
    }

    &__title {
      line-height: 30px;
      margin-bottom: 15px;
      text-align: center;
    }

    &__link {
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
      max-width: 290px;
      width: 100%;
    }
  }

  .tech-sup {
    padding-top: 25px;

    &__accordion {
      width: calc(100% + 30px);
      position: relative;
      left: -15px;

      &.active {
        & .tech-sup__accordion-content {
          padding-bottom: 16px;
        }
      }

      &-btn {
        padding: 10px 15px;
        font-size: 14px;
        line-height: 21px;

        &:before {
          right: 19px;
          width: 2px;
          height: 10px;
        }

        &:after {
          right: 15px;
          width: 10px;
          height: 2px;
        }
      }

      &-content {
        padding-left: 15px;
        font-size: 14px;
      }
    }

    &__chat {
      gap: 30px;
      &-outer {
        padding: 15px;
      }

      &-info {
        gap: 10px;
        padding-bottom: 12px;
        margin-bottom: 10px;
      }

      &-photo-outer {
        width: 50px;
        height: 50px;
      }

      &-assist,
      &-my {
        padding: 14px 20px;
        font-size: 12px;
        line-height: 18px;

        & .time {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  .footer {
    &__logo {
      width: 120px;
    }

    &__menu {
      &-outer {
        display: none;
      }
    }

    &__copyright {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .small-modal {
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
  }

  .payment {
    &__inner {
      max-width: 420px;
      padding: 20px 20px;
    }
    &__method {
    }
    &__card {
      width: 120px;
      height: 100px;
      &-outer {
        justify-content: center;
      }
      &-content-outer {
        font-size: 10px;
      }
    }
  }

  .radio {
    &-style {
      width: 18px;
      height: 18px;
      &:before {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@media(max-width:560px) {

  .page-body {
    font-size: 12px;
    line-height: 15px;
  }

  .tab {
    &__btn {
      width: 150px;
    }
  }

  .blue-btn {
    padding: 13px 35px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
  }

  .twenty-four {
    font-size: 20px;
    line-height: 30px;
  }

  .ind-acc,
  .cases {
    &__title {
      background: radial-gradient(50% 50% at 50% 50%, rgba(40, 87, 209, 0.4) 0%, rgba(40, 87, 209, 0) 100%);
      max-width: 357px;
    }

    &__card {
      &-outer {
        max-width: 320px;
      }

      max-width: 320px;

      &-title {
        padding-left: 24px;
      }
    }

    &__price-link {
      padding-left: 20px;
    }

    &__price {
      gap: 7px;
      font-size: 15px;
    }
  }

  .cases {
    &__card {
      &-title {
        margin-top: 165px;
      }
    }

    &__img-outer {
      max-width: 191px;
      top: -29px;
    }
  }

  .hero {
    &:before {
      opacity: .1;
    }

    &__top {
      margin-bottom: 20px;
    }

    &__count-list {
      &-item {
        font-size: 12px;
        line-height: 15px;
        padding: 0 7px;
        gap: 5px;

        &:before {
          height: 26px;
        }

        & .desk {
          display: none;
        }

        & .smart {
          display: flex;
        }

        &:nth-child(2) {
          padding-right: 0;
        }

        &:nth-child(3) {
          padding-left: 0;
          order: -1;

          &:before {
            display: none;
          }

          &:after {
            height: 26px;
            display: flex;
          }
        }
      }
    }

    &__bonus {
      padding: 10px 20px 25px;
      gap: 15px;

      &-info {
        flex-direction: column;
        gap: 0;
        text-align: center;
      }

      &-link {
        clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
      }
    }

    &__distr,
    &__review {
      padding: 20px;
      height: 210px;
    }

    &__subtitle {
      max-width: 240px;
      font-size: 14px;
    }

    &__distr {
      &-social {
        justify-content: center;

        &-item {
          &:nth-child(1) {
            margin-right: -7px;
          }
        }
      }

      &-social-link {
        padding: 13px 30px;
      }
    }

    &__review {
      &-link {
        width: 100%;
        clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
      }
    }

    &__bottom {
      &:before {
        width: 100%;
        height: 342px;
        opacity: 1;
      }

      &-img-outer {
        & img {
          object-position: 0 -40px;
        }
      }

      &-subtitle {
        padding: 0 8px;
      }
    }
  }

  .acc-info {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
    }

    &__actions {
      gap: 10px;
      width: 100%;
    }

    &__btn {
      &-outer {
        transform: translateX(15px);
        width: calc(100% + 30px);
        justify-content: flex-end;

        &:nth-child(2) {
          margin-right: 0;

          & .acc-info__btn {
            width: 160px;
          }
        }
      }

      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    }

    &__sum {
      clip-path: unset;
      text-align-last: left;
      margin-right: unset;
      width: 100%;
      justify-content: start;
      padding-left: 45px;

      &:before {
        content: '';
        position: absolute;
        width: 800px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: -1;
        background: #070F23;
      }
    }

    &__story {
      bottom: calc(100% + 120px);
    }
  }

  .inventory,
  .my-acc {
    &__title {
      background: radial-gradient(50% 50% at 50% 50%, rgba(40, 87, 209, 0.4) 0%, rgba(40, 87, 209, 0) 100%);
      max-width: 357px;
    }

    &__card {
      max-width: 140px;
      overflow: hidden;

      &-outer {
        max-width: 290px;
      }
    }
  }

  .inventory {
    margin-bottom: 45px;

    &__img-outer {
      &:before {
        width: 96px;
        height: 96px;
        right: -12px;
        top: -13px;
      }
    }
  }

  .my-acc {
    &__card {
      padding: 10px 10px 14px;

      &-title {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
      }

      &-data {
        gap: 2px;

        &-outer {
          margin-bottom: 8px;
        }

        &-name,
        &-info {
          line-height: 18px;
          font-size: 12px;
        }
      }

      &-link {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
      }
    }
  }

  .tank-acc {
    &__inner {
      padding-bottom: 30px;
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
    }

    &__top {
      margin-bottom: 30px;
    }

    &__btn,
    &__portion-outer {
      max-width: 290px;
    }

    &__portion {
      width: 93px;
    }

    &__img-outer {
      max-width: 240px;
      margin-bottom: 6px;

      &:before {
        width: 133.63px;
        height: 133.63px;
        top: -15px;
      }
    }

    &__bottom {
      gap: 25px;

      &-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        font-weight: 600;

        & .desc {
          display: none;
        }

        & .smart {
          display: flex;
        }
      }
    }

    &__descr {
      max-width: 240px;

      &-outer {
        flex-direction: column;
        gap: 10px;
      }

      &-inner {
        &:nth-child(1) {
          padding-right: 0;
          border-right: unset;
        }
      }
    }

    &__name,
    &__text,
    &__descr-link {
      font-size: 14px;
      line-height: 21px;
    }

    &__recovery {
      &-list {
        &-item {
          &:nth-child(2) {
            max-width: 240px;
          }
        }
      }
    }

    &__text-link {
      word-wrap: break-word;
    }
  }

  .tank-char {
    &__card {
      max-width: 140px;

      &-outer {
        gap: 5px;
        max-width: 290px;
      }
    }
  }

  .tech-sup {
    &__title {
      margin-bottom: 15px;
    }
    &__accordion {
      &-btn {
        & .text {
          max-width: 260px;
        }
      }
    }

    &__chat {
      &-outer {
        min-height: 420px;
      }
      &-form {
        padding: 12px 10px 12px 20px;
      }

      &-input {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .footer {
    margin-top: 60px;
  }

  .payment {
    &__inner {
      max-width: 280px;
      padding: 15px;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px;
    }
    &__method {
      margin-bottom: 5px;
      &-title {
        margin-bottom: 5px;
      }
    }
    &__card {
      height: 80px;
      &-outer {
        gap: 5px;
      }
      &-content-outer {
        padding: 27px;
      }
    }

    &__label {
      margin-bottom: 15px;
    }
  }
}
