<section class="acc-info">
  <h4 class="hidden-title">Меня нет!</h4>
  <div class="container">
    <div class="acc-info__inner">
      <div class="acc-info__photo-info">
        <div class="acc-info__photo-outer">
          <img src="img/avatar.webp" alt="img">
          <div class="acc-info__log-method">
            <img src="img/log-method.svg" alt="img">
          </div>
        </div>
        <div class="acc-info__info">
          <div class="acc-info__name twenty-two">
            <p class="text">
              Рустам Алиджанов
            </p>
            <button class="acc-info__edit btn-reset">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#edit"></use>
              </svg>
            </button>
          </div>
          <p class="acc-info__mail">
            alidzhanov.rustam@gmail.com
          </p>
        </div>
      </div>
      <div class="acc-info__actions">
        <a class="acc-info__story disabled" href="#">
          История выводов
        </a>
        <div class="acc-info__btn-outer">
          <div class="acc-info__sum">
            20 000 ₽
          </div>
          <button class="acc-info__btn blue-btn btn-reset">Пополнить</button>
        </div>
        <div class="acc-info__btn-outer">
          <div class="acc-info__sum">
            200 000 <span class="red">G</span>
          </div>
          <button class="acc-info__btn blue-btn disabled btn-reset">Вывести</button>
        </div>
      </div>
    </div>
  </div>
</section>
