<section class="cases">
  <div class="container">
    <div class="cases__inner">
      <div class="cases__card-outer">
        <div class="cases__card">
          <div class="cases__img-outer">
            <img src="img/cases-1.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-2.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-3.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-4.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-1.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-1.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-1.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
        <div class="cases__card">
          <div class="cases__sale">
            -30%
          </div>
          <div class="cases__img-outer">
            <img src="img/cases-1.webp" alt="img">
          </div>
          <h5 class="cases__card-title  twenty-two">
            FARM PREMIUM
          </h5>
          <div class="cases__price-link">
            <div class="cases__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="cases__link blue-btn" href="#">Подробнее</a>
          </div>
        </div>
      </div>
      <button class="cases__more ind-acc__more btn-reset transparent-btn">
        Загрузить ещё
      </button>
    </div>
  </div>
</section>
