<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="footer__logo" href="#">
        <img src="img/logo.svg" alt="img">
      </a>
      <nav class="footer__menu-outer">
        <ul class="footer__menu list-reset">
          <li class="footer__menu-item">
            <a class="footer__menu-link supreme" href="other-el.html">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#gift"></use>
              </svg>
              Раздача
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link disabled" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
              Отзывы
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link disabled" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#FAQ"></use>
              </svg>
              FAQ
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="support.html">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#support"></use>
              </svg>
              Поддержка
            </a>
          </li>
        </ul>
      </nav>
      <div class="footer__tg-copyright">
        <a class="footer__tg" href="#" target="_blank">
          <svg class="icon-24">
            <use xlink:href="img/sprite.svg#tg"></use>
          </svg>
        </a>
        <p class="footer__copyright">
          © 2018-2022 GGWOT.SU
        </p>
      </div>
    </div>
  </div>
</footer>
