<header class="header">
  <div class="header__acc-slider swiper">
    <div class="header__acc-slider-wrapper swiper-wrapper">
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
      <div class="header__acc-slide swiper-slide">
        <div class="header__acc">
          <div class="header__acc-img-outer">
            <img src="img/account.svg" alt="img">
          </div>
          <p class="header__acc-name">
            Аккаунт
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="index.html">
        <img src="img/logo.svg" alt="img">
      </a>
      <nav class="header__menu-outer" data-menu>
        <ul class="header__menu list-reset">
          <li class="header__menu-item">
            <a class="header__menu-link supreme" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#gift"></use>
              </svg>
              Раздача
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link disabled" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
              Отзывы
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link disabled" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#FAQ"></use>
              </svg>
              FAQ
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="support.html">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#support"></use>
              </svg>
              Поддержка
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__sign" data-sign>
        <p class="header__sign-text">
          Войти через:
        </p>
        <ul class="header__sign-list list-reset">
          <li class="header__sign-list-item">
            <a class="header__sign-list-link" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#wargaming"></use>
              </svg>
            </a>
          </li>
          <li class="header__sign-list-item">
            <a class="header__sign-list-link" href="#">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="header__social-burger">
        <ul class="header__social list-reset">
          <li class="header__social-item">
            <a class="header__social-link" href="#" target="_blank">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="header__social-item">
            <a class="header__social-link" href="#" target="_blank">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#tg"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="header__burger btn-reset" aria-label="Открыть меню" data-burger>
          <span class="header__burger-line"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="hero__top">
      <ul class="hero__social list-reset">
        <li class="hero__social-item">
          <a class="hero__social-link" href="#" target="_blank">
            <span class="bg"></span>
            <svg class="icon-24">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="hero__social-item">
          <a class="hero__social-link" href="#" target="_blank">
            <span class="bg"></span>
            <svg class="icon-24">
              <use xlink:href="img/sprite.svg#tg"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="hero__count-list list-reset">
        <li class="hero__count-list-item">
          <svg class="icon-18">
            <use xlink:href="img/sprite.svg#game-count"></use>
          </svg>
          <span class="semibold">
            55 426
          </span>
          игр
        </li>
        <li class="hero__count-list-item">
          <svg class="icon-18">
            <use xlink:href="img/sprite.svg#people-count"></use>
          </svg>
          <span class="semibold">
            4288
          </span>
          <span class="desk">
            пользователей
          </span>
          <span class="smart">
            юзеров
          </span>
        </li>
        <li class="hero__count-list-item">
          <span class="semibold green-dot">
            12
          </span>
          онлайн
        </li>
      </ul>
    </div>
  </div>
</header>
