<section class="hero pt">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__mid">
        <div class="hero__distr">
          <div class="hero__info">
            <h3 class="hero__title twenty-four">
              Раздача аккаунтов
            </h3>
            <p class="hero__subtitle">Подпишись на наши социальные сети и получи аккаунт бесплантно!</p>
          </div>
          <ul class="hero__distr-social list-reset">
            <li class="hero__distr-social-item">
              <a class="hero__distr-social-link blue-btn" href="#" target="_blank">
                Telegram
              </a>
            </li>
            <li class="hero__distr-social-item">
              <a class="hero__distr-social-link blue-btn" href="#" target="_blank">
                Instagram
              </a>
            </li>
          </ul>
        </div>
        <div class="hero__bonus">
          <div class="hero__bonus-info">
            <span class="hero__bonus-count">
              +25%
            </span>
            <p class="hero__bonus-text">
              к пополнению баланса по промокоду
              <span class="fire">
                fire
              </span>
            </p>
          </div>
          <a href="#" class="hero__bonus-link blue-btn">Активировать промокод</a>
        </div>
        <div class="hero__review">
          <div class="hero__info">
            <h3 class="hero__title twenty-four">
              Купил Аккаунт?
            </h3>
            <p class="hero__subtitle">Оставь отзыв!</p>
          </div>
          <a href="#" class="hero__review-link blue-btn">Оставить отзыв</a>
        </div>
      </div>
      <div class="hero__bottom">
        <div class="hero__bottom-img-info">
          <div class="hero__bottom-img-outer">
            <img src="img/panzer-IV.webp" alt="img">
          </div>
          <div class="hero__bottom-info">
            <h4 class="hero__bottom-title twenty-two">
              PANZER IV TIGER
            </h4>
            <div class="hero__bottom-time twenty-two">
              <span class="num">09</span>:<span class="num">57</span>:<span class="num">24</span>
            </div>
            <div class="hero__bottom-subtitle">
              Немного дополнительного текста
            </div>
          </div>
        </div>
          <a href="#" class="hero__bottom-link transparent-btn">
            Испытать удачу
            <svg>
              <use xlink:href="img/sprite.svg#link-arrow"></use>
            </svg>
          </a>
      </div>
    </div>
  </div>
</section>
