<section class="ind-acc">
  <div class="container">
    <div class="ind-acc__inner">
      <h3 class="ind-acc__title section-title twenty-four">
        Отдельные аккаунты
      </h3>
      <div class="ind-acc__card-outer">
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="account-one.html">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="account-two.html">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="account-three.html">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
        <div class="ind-acc__card">
          <div class="ind-acc__sale">
            -30%
          </div>
          <h5 class="ind-acc__card-title  twenty-two">
            Аккаунт с почтой
          </h5>
          <div class="ind-acc__price-link">
            <div class="ind-acc__price">
              1000 ₽
              <span class="sale">
                3000 ₽
              </span>
            </div>
            <a class="ind-acc__link blue-btn" href="#">Подробнее</a>
          </div>
          <div class="ind-acc__info">
            <p class="ind-acc__name">
              Последний бой
            </p>
            <div class="ind-acc__descr">
              01.02.10 (Отлега год)
            </div>
          </div>
        </div>
      </div>
      <button class="ind-acc__more btn-reset transparent-btn">
        Загрузить ещё
      </button>
    </div>
  </div>
</section>
