<section class="inventory">
  <div class="container">
    <div class="inventory__inner">
      <h3 class="inventory__title section-title twenty-four">
        Инвентарь
      </h3>
      <div class="inventory__card-outer">
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
        <div class="inventory__card">
          <div class="inventory__img-outer">
            <img src="img/inventory-1.webp" alt="img">
          </div>
          <p class="inventory__name">
            Panzer IV Tiger
          </p>
        </div>
      </div>
      <button class="inventory__more btn-reset transparent-btn">
        Загрузить ещё
      </button>
    </div>
  </div>
</section>
