<div class="modals">
  <div class="small-modal success">
    <div class="small-modal__img-outer icon-24">
      <img src="img/success.svg" alt="img">
    </div>
    <span class="small-modal__text">
      Баланс успешно пополнен
    </span>
  </div>
  <div class="small-modal warning">
    <div class="small-modal__img-outer icon-24">
      <img src="img/warning.svg" alt="img">
    </div>
    <span class="small-modal__text">
      Войдите в аккаунт, чтобы открыть кейс
    </span>
  </div>
  <div class="payment">
    <div class="payment__inner">
      <button class="payment__close btn-reset">
        <svg class="icon-24">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>

      <h4 class="payment__title twenty-two">
        Пополнение баланса
      </h4>
      <div class="payment__method">
        <h6 class="payment__method-title">
          Выберите метод оплаты:
        </h6>
        <div class="payment__card-outer">
          <div class="payment__card">
            <label class="payment__radio-outer radio-outer">
              <input class="payment__radio radio" type="radio" name="payment__radio">
              <span class="payment__radio-style radio-style"></span>
            </label>
            <div class="payment__card-content-outer">
              <img src="img/qiwi.svg" alt="img">
            </div>
          </div>
          <div class="payment__card">
            <label class="payment__radio-outer radio-outer">
              <input class="payment__radio radio" type="radio" name="payment__radio">
              <span class="payment__radio-style radio-style"></span>
            </label>
            <div class="payment__card-content-outer">
              <img src="img/visa.svg" alt="img">
            </div>
          </div>
          <div class="payment__card">
            <label class="payment__radio-outer radio-outer">
              <input class="payment__radio radio" type="radio" name="payment__radio">
              <span class="payment__radio-style radio-style"></span>
            </label>
            <div class="payment__card-content-outer">
              <img src="img/mastercard.svg" alt="img">
            </div>
          </div>
          <div class="payment__card">
            <label class="payment__radio-outer radio-outer">
              <input class="payment__radio radio" type="radio" name="payment__radio">
              <span class="payment__radio-style radio-style"></span>
            </label>
            <div class="payment__card-content-outer">
              <img src="img/yandex.svg" alt="img">
            </div>
          </div>
          <div class="payment__card">
            <label class="payment__radio-outer radio-outer">
              <input class="payment__radio radio" type="radio" name="payment__radio">
              <span class="payment__radio-style radio-style"></span>
            </label>
            <div class="payment__card-content-outer">
              <img src="img/mir.svg" alt="img">
            </div>
          </div>
          <div class="payment__card">
            <label class="payment__radio-outer radio-outer">
              <input class="payment__radio radio" type="radio" name="payment__radio">
              <span class="payment__radio-style radio-style"></span>
            </label>
            <div class="payment__card-content-outer">
              Другой вариант
            </div>
          </div>
        </div>
      </div>
      <label class="payment__label">
        Промокод
        <span class="procent">
          +15%
        </span>
        <input class="payment__input" type="text">
      </label>
      <button class="payment__btn btn-reset blue-btn">
        Продолжить
      </button>
    </div>
  </div>
</div>
