<section class="tank-char">
  <h4 class="hidden-title">Меня нет!</h4>
  <div class="container">
    <div class="tank-char__inner">
      <div class="tank-char__card-outer">
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
        <a class="tank-char__card" href="img/tank-char.webp" data-fancybox="tank-char">
          <img src="img/tank-char.webp" alt="img">
        </a>
      </div>
    </div>
  </div>
</section>
