<section class="tech-sup">
  <div class="container">
    <div class="tech-sup__inner">
      <h2 class="tech-sup__title section-title twenty-four">
        Техподдержка
      </h2>
      <div class="tech-sup__accordion-chat">
        <div class="tech-sup__accordion-outer">
          <div class="tech-sup__accordion">
            <button class="tech-sup__accordion-btn btn-reset">
              <span class="text">Пополнил баланс, а деньги не пришли, что делать?</span>

            </button>
            <div class="tech-sup__accordion-content">
              Копировать купон и вставить в окно пополнения баланса. Если купон работает, то вам высветится процент, который даёт купон
            </div>
          </div>
          <div class="tech-sup__accordion">
            <button class="tech-sup__accordion-btn btn-reset">
              <span class="text">Аккаунт не работает, что делать?</span>

            </button>
            <div class="tech-sup__accordion-content">
              Копировать купон и вставить в окно пополнения баланса. Если купон работает, то вам высветится процент, который даёт купон
              Копировать купон и вставить в окно пополнения баланса. Если купон работает, то вам высветится процент, который даёт купон
            </div>
          </div>
          <div class="tech-sup__accordion">
            <button class="tech-sup__accordion-btn btn-reset">
              <span class="text">Как использовать купон к балансу?</span>

            </button>
            <div class="tech-sup__accordion-content">
              Копировать купон и вставить в окно пополнения баланса. Если купон работает, то вам высветится процент, который даёт купон
            </div>
          </div>
          <div class="tech-sup__accordion">
            <button class="tech-sup__accordion-btn btn-reset">
              <span class="text">Долго не отвечают в тех поддержке?</span>

            </button>
            <div class="tech-sup__accordion-content">
              Напишите нам в VK!
            </div>
          </div>
          <div class="tech-sup__accordion">
            <button class="tech-sup__accordion-btn btn-reset">
              <span class="text">Как часто раздаются аккаунты в телеграм канале?</span>

            </button>
            <div class="tech-sup__accordion-content">
              Копировать купон и вставить в окно пополнения баланса. Если купон работает, то вам высветится процент, который даёт купон
            </div>
          </div>
        </div>
        <div class="tech-sup__chat-outer">
          <div class="tech-sup__chat-info">
            <div class="tech-sup__chat-photo-outer">
              <img src="img/avatar.webp" alt="img">
            </div>
            <div class="tech-sup__chat-name-outer">
              <div class="tech-sup__chat-name">
                Специалист
              </div>
              <div class="tech-sup__chat-status">
                <span class="online active">
                  онлайн
                </span>
                <span class="offline">
                  оффлайн
                </span>
              </div>
            </div>
          </div>
          <div class="tech-sup__chat">
            <div class="tech-sup__chat-assist">
              <span class="text">
                Здравствуйте! Возникли вопросы по магазину? Можете задать их в данный чат, мы с радостью на них ответим в ближайшее время
              </span>
              <span class="time">05.07.22 12:34</span>
            </div>
            <div class="tech-sup__chat-my">
              <span class="text">
                Привет! Как использовать купон к балансу?
              </span>
              <span class="time">05.07.22 12:34</span>
            </div>
          </div>
          <form class="tech-sup__chat-form" action="#">
            <input type="text" class="tech-sup__chat-input input-reset" placeholder="Введите текст сообщения...">
            <button class="tech-sup__chat-btn btn-reset">
              <svg class="icon-24">
                <use xlink:href="img/sprite.svg#send"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
